<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name.capitalize %></div>

  <% @artist.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
  <% end %>

  <div class="panel-body">
    <p>Genre: <%= @artist.genre.capitalize %></p>
  </div>

  <div class="panel-body">
    <ul>
      <% @artist.songs.all.each do |song| %>
      <li><%= song.title %></li>

      <%= link_to "Update", edit_artist_song_path(@artist, song), class: "btn btn-default" %>
      <%= link_to "Delete", artist_song_path(@artist, song), method: :delete, class: "btn btn-default", data: { confirm: "Are you sure?" }%>
      <% end %>
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Add a Song to the Artist!
    </div>

    <div class="panel-body">
      <%= form_for @song,  :url => url_for(:controller => 'artists', :action => 'create') do |f| %>
      <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Year Released</label>
        <%= f.number_field :released_year, placeholder: "Year released", class: "form-control" %>
      </div>

      <label>Do you want to add this Song?</label>

      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
