<div class="container show-artist">

  <div class="row">

    <h1><%= @artist.name.capitalize %></h1>

    <%= link_to "Back", artists_path, class: "btn btn-default pull-right" %>

    <% @artist.photos.each do |photo| %>
    <div class="card">
      <%= image_tag photo.image.thumbnail, class: "artist-image" %>
    </div>
    <% end %>
  </div>

  <div class="row">
    <h4>Genre: <%= @artist.genre.capitalize %></h4>
    <hr>
  </div>

  <div class="row">
    <table class="table" id="songTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="60%">Songname</th>
          <th scope="col" width="20%">Release Year</th>
          <th scope="col" width="20%">Actions</th>
        </tr>
      </thead>
      <tbody>

        <% @artist.songs.all.each do |song| %>
        <tr id="song<%= song.id%>">
          <td><%= song.title %></td>
          <td><%= song.released_year %></td>
          <td>
            <%= link_to "Update", edit_artist_song_path(@artist, song), class: "btn btn-default" %>
            <button type="button" class="btn btn-default song-delete" data-artist="<%= @artist.id %>" data-id="<%= song.id%>">Delete this song!</button>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <button type="button" class="btn btn-default delete-all">Delete all songs</button>
  </div>

</br>

<div class="panel panel-default">
  <div class="panel-heading">
    Add a Song to the Artist!
  </div>

  <div class="panel-body">
    <%= form_for @song, :url => artist_songs_url(@artist) do |f| %>
    <div class="form-group">
      <label>Title</label>
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Year Released</label>
      <%= f.number_field :released_year, placeholder: "Year released", class: "form-control" %>
    </div>

    <%= f.hidden_field :artist_id, value: @artist.id, id: "artistField" %>

    <label>Do you want to add this Song?</label>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>

</div>
