<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name.capitalize %></div>
  <%= image_tag(@artist.image.thumbnail) %>
  <div class="panel-body">
    <p>Genre: <%= @artist.genre.capitalize %></p>
  </div>

  <div class="panel-body">
    <ul>
      <% @artist.songs.all.each do |song| %>
      <li><%= song.title %></li>

      <%= link_to "Update", edit_artist_song_path(@artist, song), class: "btn btn-default" %>
      <%= link_to "Delete", artist_song_path(@artist, song), method: :delete, class: "btn btn-default", data: { confirm: "Are you sure?" }%>
      <% end %>
    </ul>
    <%= link_to "Add new Song", new_artist_song_path(@artist), class: "btn btn-primary"%>

  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
